body {
    font-size: .7rem;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
}
 
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.nav-menu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    text-transform: uppercase;
    
}
 
.nav-item {
 
    text-decoration: none;
}
 
ul li a{
    margin: 0 1.2rem;
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
}
 
ul li {
    display: inline-block;
    margin-right: .4rem;
}
 
.logo-img {
    width: 2rem;
}
 
.header {
    background-image: url('./img/headerB.jpg');
    background-size: 100%;
    background-repeat:  no-repeat;
    height: 45rem;
}
 
.carousel {
    position: relative;
    height: 30rem;
    width: 60%;
    margin: 0 auto;
    padding: 0;
}
 
.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.carousel__track-container {
    background-color: rgba(0,0,0,0);
    padding: 10px;
    height: 65%;
    position: relative;
    overflow: hidden;
}
 
.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 500ms ease-in;
}
 
.carousel__slide {
    position: absolute; 
    top: 0;
    bottom: 0; 
    height: 60%;
    width: 100%;
}
 
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}
 
.carousel__button img {
    width: 30px;
}
 
.carousel__button--left {
    left: -40px;
}
 
.carousel__button--right {
    right: -50px;
    transform: translateY(-2.3rem) rotate(180deg);;
}
 
.carousel__nav {
    display: flex;
    justify-content: center;
}
 
.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 5px;
    cursor: pointer;
}
 
.carousel__indicator.current-slide {
    background: rgba(255, 255, 255, 0.75);
}
 
.carousel__track-container .carousel__track .carousel__slide .slide-content {
    margin-top: 12rem;
}
 
.slide-heading {
    text-align: center;
    font-weight: 400;
}
 
.first-word-heading {
    font-weight: bold;
    margin-right: .5rem;
}
 
.slide-subheading {
    display: block;
    text-align: center;
}
 
.learn-more-btn {
    color:  white;
    border: none;
    display: block;
    height: 1.8rem;
    border-radius: 6rem;
    width: 120px;
    background-color: rgb(10, 188, 191);
    margin: 1rem auto;
}
 
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.about-us-heading {
    align-self: center;
    color:  black;
    font-weight: 400;
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
}
 
.underline {
    align-self: center;
    border-top: 1px solid rgb(15, 201, 86);
    width: 1.5rem;
    margin-bottom: 1rem;
    
}
 
.about-desc {
    margin: 0 0 3rem 0;
    align-self: center;
    color: black
}
 
.fa-rocket {
    width: 200px;
}
 
.row {
    margin: 0 auto;
    text-align: center;
}
 
.more-info-btn {
    border-radius: 6rem; 
    background-color: rgb(96, 231, 157);
    color: white;
    border: none;
    height: 1.5rem;
    width: 100px;
    margin-top: 2rem;
}
 
.col {
    color:  black;
    display: inline-block;
    width: 18%;
    margin: 0 auto;
    height: 8rem;
}
 
.fas {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 0.9rem 0;
}
 
.value-name { 
    display: block;
    text-align: center;
    font-weight: bold;
}
 
.value-description {
    color: black;
    white-space: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
 
.col-btn {
    display: block;
    width: 10rem;
    height: 5rem;;
}
 
.icon-background {
    display: block;
    width: 4rem;
    border: none;
    border-radius: 50%;
    margin: 1rem auto;
    background-color: rgba(197, 183, 183, 0.3);
}
 
.icon-background:hover {
    background-color: rgb(96, 231, 157);
}
 
.content-height {
    height: 5rem;
}
 
.img-item {
    width: 20rem;
}
 
.row-2 {
    display: inline-block;
    margin: 0 10rem;
    color: black;
    text-align: center;
}
 
.col-2 {
    color: black;
    display: inline-block;
    width: 40%;
}
 
.row-2:nth-child(1) {
    background-color: rgba(173, 166, 166, 0.3);
}
 
.h2-heading {
    font-weight: 400;
    text-align: start;
    font-size: 2rem;
    margin: 9rem 0;
    padding: 0;
}
 
.article-paragraph {
    text-align: justify;
    margin-top: 0;
}
 
.more-info-btn-article {
    border-radius: 6rem; 
    background-color: rgb(96, 231, 157);
    color: white;
    border: none;
    height: 1.5rem;
    width: 100px;
    margin: 2rem 0 4rem 0;
    float: left;
}
 
.is-hidden {
    display: none;
}
